.agent {
    display: flex;
    margin: 3em;
    overflow: hidden;
}

.agent > * {
    width: 50%;
}

.agent aside {
    width: 4vw;
}

.agent .left {
    top: 50%;
    left: 1%;
    text-align: left;
}

.agent .right {
    top: 50%;
    right: 1%;
    text-align: right;
}

.agent .info {
    text-align: justify;
    background-color: #f0f0f065;
    border: thin solid black;
    border-radius: 10px;
}

.agent h2 {
    text-align: center;
}

.agent .info > * {
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.indicator {
    display: flex;
    padding-top: 1em;
    align-items: center; /* Ajout de cette ligne */
}

.indicator > p {
    margin-right: 0.7em;
}

.circle {
    width: 1em;
    height: 1em;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 0.2em;
}

.circle.full {
    background-color: #fff;
}

.circle.empty {
    background-color: transparent;
}

#coeur{
    align-items: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 3rem;
}

#coeur:hover{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

aside a{
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #242424;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.6rem;
}

aside a:hover{
    background-color: #3f3f3f;
}

#fav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

